/* 
* Global styling
*/
@import '~sass/variables';

html{
    position: relative;
    min-height: 100%
}

body{
    overflow-x: hidden;
}

body.fixed-nav{
    padding-top: $navbar-height;
}

.content-wrapper{
    min-height: calc(100vh - $navbar-heigth);
    padding-top: 1rem;
}

.error-import-info{
    color: #FF0000;
    font-weight: bold;
}