<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Browse in Sanctionslist</h1>
    <p class="lead">On this page you can search a person, ship or organisation.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control ng-valid ng-dirty" ng-model="searchKeyword">
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-s">
        <span class="fa fa-search">
        </span>
        Search
      </button>
    </div>
  </div>
</div>