<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Browse in Sanctionslist</h1>
    <p class="lead">On this page you can search a person, ship or organisation.</p>
  </div>
</div>
<div class="container">
  <div id="searchContainer" class="row">
    <div id="searchInput" class="col-md-9">
      <input type="text" id="searchTxt" class="form-control ng-valid ng-dirty" [(ngModel)]="keyWord" />
    </div>
    <div id="searchBtn" class="col-md-3">
      <button type="button" class="btn btn-primary btn-s" (click)="search(keyWord)">
        <span class="fa fa-search">
        </span>
        Search
      </button>
    </div>
  </div>
  <div id="searchResult" class="row" *ngIf="isResponseOk">
    <h1>Search results:</h1>
    <div>
      <div class="card" *ngFor="let entity of searchResults">
        <div class="card-body">
          <h5>Entity</h5>
          <div>
            <h6>entity information like names, function or title</h6>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Whole Name</th>
                  <th>Gender</th>
                  <th>Title</th>
                  <th>Function</th>
                  <th>Language</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let info of entity.entityInfo">
                  <td>{{info.firstName}}</td>
                  <td>{{info.lastName}}</td>
                  <td>{{info.wholeName}}</td>
                  <td>{{info.gender}}</td>
                  <td>{{info.title}}</td>
                  <td>{{info.function}}</td>
                  <td>{{info.language}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>