@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~sass/variables';

.app-title {
    text-transform: uppercase;
}

footer.sticky-footer {
    position: fixed;
    right: 0;
    bottom: 0;

    width: 100%;
    height: $footer-height;
    line-height: $footer-height - 1px;

    background-color: $gray-200;

    @include media-breakpoint-down(sm) {
        height: $footer-height-minimal;
        line-height: $footer-height-minimal - 1px;
    }
}
